@page {
  margin: 0;
  padding: 0;
  /* size: 6in 4in; */
}
* {
  margin: 0;
  padding: 0;
}

/* @media print {
  #root * {
    display: none;
  }

  ul {
    display: none;
  }
  .contentData,
  .contentData * {
    display: block !important;
  }
  .printCard {
    width: 141mm !important;
    display: flex !important;
    font-size: 0.75em !important;
  }
  .productsCard {
    width: 25mm !important;
    background-color: green !important;
  }
  .printDesign {
    display: flex !important;
    justify-content: space-between !important;
  }
} */

@media print {
  /* Sets print view with media query */
  #root * {
    display: none;
  }
  /* Sets body and elements in it to not display */
  #singleSlipPrintwrapper,
  #singleSlipPrintwrapper * {
    display: block;
  }
  /*  */

  /*  */
  /* Sets print area element and all its content to display */
}
