@page {
  margin: 0;
  padding: 0;
  /* size: 6in 4in; */
}
* {
  margin: 0;
  padding: 0;
}

@media print {
  #root * {
    display: none;
  }

  ul {
    display: none;
  }
  .contentData,
  .contentData * {
    display: block !important;
  }
}
.printCard {
  width: 141mm !important;
}
.printCard:first-child {
  width: 25mm !important;
}
.printDesign {
  display: flex !important;
  justify-content: space-between !important;
}
